
  form input[name="city"],
  form input[name="country"]{
    border: 0;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: rgb(255, 255, 255)!important;
  }
  
  form input:focus{
    box-shadow: none !important;
    background-color: transparent !important;
  }
  
  ::placeholder{
    color: rgb(255, 255, 255);
  }
  
  